%thead
  %tr
    %th.text-center{colspan: 8}
      Daily Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.pct_won(:day)
    %td= @ps_records.best(:day)
    %td= @ps_records.worst(:day)
    %td
      %div= "#{@ps_records.avg_wins(:day)} (mean)"
      %div= "#{@ps_records.avg_wins_median(:day)} (median)"
    %td
      %div= "#{@ps_records.avg_losses(:day)} (mean)"
      %div= "#{@ps_records.avg_losses_median(:day)} (median)"
    %td
      %div= "#{@ps_records.avg(:day)} (mean)"
      %div= "#{@ps_records.avg_median(:day)} (median)"
    %td= @ps_records.longest_win_streak(:day)
    %td= @ps_records.longest_loss_streak(:day)
