%thead
  %tr
    %th.text-center{colspan: 8}
      Daily Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.daily_pct_won
    %td= @ps_records.daily_best
    %td= @ps_records.daily_worst
    %td
      %div= "#{@ps_records.daily_avg_wins} (mean)"
      %div= "#{@ps_records.daily_avg_wins_median} (median)"
    %td
      %div= "#{@ps_records.daily_avg_losses} (mean)"
      %div= "#{@ps_records.daily_avg_losses_median} (median)"
    %td
      %div= "#{@ps_records.daily_avg} (mean)"
      %div= "#{@ps_records.daily_avg_median} (median)"
    %td= @ps_records.daily_longest_win_streak
    %td= @ps_records.daily_longest_loss_streak
