%thead
  %tr
    %th.text-center{colspan: 8}
      Monthly Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.monthly_pct_won
    %td= @ps_records.monthly_best
    %td= @ps_records.monthly_worst
    %td= @ps_records.monthly_avg_wins
    %td= @ps_records.monthly_avg_losses
    %td= @ps_records.monthly_avg
    %td= @ps_records.monthly_longest_win_streak
    %td= @ps_records.monthly_longest_loss_streak
