%thead
  %tr
    %th.text-center{colspan: 8}
      Weekly Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.pct_won(:week)
    %td= @ps_records.best(:week)
    %td= @ps_records.worst(:week)
    %td
      %div= "#{@ps_records.avg_wins(:week)} (mean)"
      %div= "#{@ps_records.avg_wins_median(:week)} (median)"
    %td
      %div= "#{@ps_records.avg_losses(:week)} (mean)"
      %div= "#{@ps_records.avg_losses_median(:week)} (median)"
    %td
      %div= "#{@ps_records.avg(:week)} (mean)"
      %div= "#{@ps_records.avg_median(:week)} (median)"
    %td= @ps_records.longest_win_streak(:week)
    %td= @ps_records.longest_loss_streak(:week)
