%thead
  %tr
    %th.text-center{colspan: 8}
      Monthly Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.pct_won(:month)
    %td= @ps_records.best(:month)
    %td= @ps_records.worst(:month)
    %td
      %div= "#{@ps_records.avg_wins(:month)} (mean)"
      %div= "#{@ps_records.avg_wins_median(:month)} (median)"
    %td
      %div= "#{@ps_records.avg_losses(:month)} (mean)"
      %div= "#{@ps_records.avg_losses_median(:month)} (median)"
    %td
      %div= "#{@ps_records.avg(:month)} (mean)"
      %div= "#{@ps_records.avg_median(:month)} (median)"
    %td= @ps_records.longest_win_streak(:month)
    %td= @ps_records.longest_loss_streak(:month)
