%thead
  %tr
    %th.text-center{colspan: 8}
      Yearly Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.pct_won(:year)
    %td= @ps_records.best(:year)
    %td= @ps_records.worst(:year)
    %td
      %div= "#{@ps_records.avg_wins(:year)} (mean)"
      %div= "#{@ps_records.avg_wins_median(:year)} (median)"
    %td
      %div= "#{@ps_records.avg_losses(:year)} (mean)"
      %div= "#{@ps_records.avg_losses_median(:year)} (median)"
    %td
      %div= "#{@ps_records.avg(:year)} (mean)"
      %div= "#{@ps_records.avg_median(:year)} (median)"
    %td= @ps_records.longest_win_streak(:year)
    %td= @ps_records.longest_loss_streak(:year)
