%table.table.table-bordered
  %thead
    %tr
      %th Poker Sessions
      %th Amount Won
      %th TX Count
      %th Total
  %tbody
    %tr
      %td= @bankroll.poker_sessions.count
      %td= @bankroll.poker_sessions.results
      %td= @bankroll.bankroll_transactions.count
      %td= @bankroll.total_amount

%table.table.table-bordered
  %thead
    %tr
      %th Date
      %th Amount
      %th Note
      %th Actions
  %tbody
    -@bankroll.bankroll_transactions.each do |tx|
      %tr
        %td= tx.date
        %td= tx.amount
        %td= tx.note
        %td= fa_icon('edit')
