%thead.text-center
  %tr
    %th{colspan: 8}
      Global Stats
  %tr
    %th Hands Dealt
    %th Hands Played
    %th Saw Flop
    %th WTSD
    %th W$SD
    %th VPIP
%tbody.text-center
  %tr
    %td= PokerSession.hands_dealt
    %td= PokerSession.hands_played
    %td= PokerSession.saw_flop
    %td= PokerSession.wtsd
    %td= PokerSession.wmsd
    %td= PokerSession.vpip
%thead.text-center
  =render partial: 'stats_table_headers'
%tbody.text-center
  %td= @ps_records.pct_won
  %td= @ps_records.best
  %td= @ps_records.worst
  %td= @ps_records.avg_wins
  %td= @ps_records.avg_losses
  %td= @ps_records.avg
  %td= @ps_records.longest_win_streak
  %td= @ps_records.longest_loss_streak
