%thead
  %tr
    %th.text-center{colspan: 8}
      Yearly Stats
  =render partial: 'stats_table_headers'
%tbody.text-center
  %tr
    %td= @ps_records.yearly_pct_won
    %td= @ps_records.yearly_best
    %td= @ps_records.yearly_worst
    %td= @ps_records.yearly_avg_wins
    %td= @ps_records.yearly_avg_losses
    %td= @ps_records.yearly_avg
    %td= @ps_records.yearly_longest_win_streak
    %td= @ps_records.yearly_longest_loss_streak
